<!-- Main -->
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Info</h1>
						<p>Nuestra muestra atiende de lunes a viernes entre 10:00 a 18:00 hrs </p>
						<p>siguenos en redes sociales</p>
                        <ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
					</header>
                    

                    <!-- Thumbnail -->
					<section id="thumbnails">
						<article>
							<a class="thumbnail" href="assets/gatito.jpg" data-position="left center"><img src="assets/gatito.jpg" alt="" /></a>
							<h2>Diam tempus accumsan</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</article>
						
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li> volver      ---- </li><%= link_to "Home", root_path %></li>
						</ul>
					</footer>

			</div>